html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    /* margin: 0 166px; */
    padding: 0px 166px;
}

.header {
    background-image: url(../IMG/hero\ image.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    /* margin-right: 268px; */
}

.nav {
    /* margin-right: 36px; */
    display: flex;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.3s linear;
}

.nav-item:hover {
    color: #D67E35;
    transform: scale(1.15);
}

.btn {
    display: flex;
}

#burger-menu-button {
    margin-left: auto;
}

.nav-item:not(:last-child) {
    margin-right: 25px;
}

.cart {
    position: relative;
    border-right: white 1px solid;
    padding-right: 21px;
    height: 51px;
}

.cart-img {
    position: absolute;
    top: 21px;
}

.num {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: all 0.3s linear;
}

.num:hover {
    color: #D67E35;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    color: white;
    border: 1px solid #FF7400;
    text-decoration: none;
    background-color: #FF7400;
    padding: 14px 19px;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.3s linear;
    text-transform: uppercase;
}

.button:hover {
    background-color: black;
    color: orange;
    border-color: black;
}

.header-tittle {
    color: #D67E35;
}

.header-tittle h2 {
    font-size: 35px;
    font-weight: 400;

}

.header-tittle h1 {
    font-size: 60px;
    font-weight: 400;
}

.header-down {
    margin-top: 200px;
    max-width: max-content;
    text-align: center;
    font-family: 'Tinos', serif;
}

.header-subtittle {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 21px;
}

.header-subtittle::after {
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: white;
    top: 10px;
    left: 8px;
}

.header-subtittle::before {
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: white;
    top: 10px;
    right: 8px;
}

.card-image,
.card-title {
    display: flex;
    justify-content: center;
}

.card-title {
    color: #2C2C2C;
    margin-bottom: 20px;
}

span.accent-color-bej {
    color: #BC9060;
}

.card-img {
    padding-top: 35px;
}

.card-desc {
    text-align: center;
    color: #656363;
}

.card {
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 349px;
    height: 328px;
    background-color: white;
    margin-top: -151px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    padding: 0 10px;
}

.card:not(:last-child) {
    margin-right: 31px;
}

.cards-holder {
    display: flex;
    justify-content: center;
}

.history-title-text {
    font-family: 'Tinos', serif;
    font-size: 54px;

}

span.accent-color-orng {
    color: #D67E34;
}

.history-desc-text {
    font-size: 16px;
    color: #656363;
}

.history {
    margin-top: 166px;
    margin-bottom: 182px;
}

.history-desc {
    width: 444px;
    text-align: center;
    margin-bottom: 39px;
}

.history-title {
    width: 444px;
    text-align: center;
    margin-bottom: 21px;
}

.history-desc-text span.accent-color-orng {
    color: #D67E34;
}

.history-food {
    display: flex;
    text-align: center;
    width: 444px;
    justify-content: center;
}

.history-food-number {
    font-size: 40px;
    color: #BC9060;
}

.history-food-name {
    font-size: 20px;
}

.history-food-item:not(:last-child) {
    margin-right: 58px;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history-images {
    position: relative;
    margin-right: 260px;
}

.history-image-1,
.history-image-3 {
    z-index: 2;
    position: absolute;
}

.history-image-2 {
    z-index: 1;
}

.history-image-1 {
    top: 45px;
    right: 150px;
}

.history-image-3 {
    top: 220px;
    left: 100px;
}

.black {
    background-image: url(../IMG/black-bg.jpg);
    height: 357px;
    padding: 80px 0px;
    display: flex;
    align-items: center;
}

.black-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black-title {
    font-size: 52px;
    color: #D67E34;
    font-family: 'Tinos', serif;
    margin-bottom: 20px;
}

.black-subtitle {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.container-black {
    width: 130%;
}

.dishes-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 140px;
}

.dishes {
    padding: 132px 0px;
}

.burgers {
    display: flex;
    font-family: 'Tinos', serif;
    font-size: 26px;
    justify-content: center;
}

.burger-prices-item {
    display: flex;
    align-items: center;
}

.burger-img {
    margin-right: 30px;
    margin-bottom: 30px;
}

.burgers-picture {
    margin-right: 30px;
}

.menu {
    background-image: url(../IMG/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 226px;
    text-align: center;
}

.menu-title-text {
    color: white;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
}

.menu-title {
    margin-bottom: 138px;
}

.menu-item {
    background-color: white;
    text-align: center;
    width: 350px;
    padding-top: 80px;
    padding-bottom: 43px;
}

.menu-item:not(:last-child) {
    margin-right: 30px;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.menu-item-img {
    margin-bottom: 22px;
}

.menu-text-title {
    font-weight: 400;
    font-size: 26px;
    font-family: 'Tinos', serif;
    margin-bottom: 17px;
}

.menu-text-desc {
    font-size: 16px;
    margin-bottom: 34px;
}

.order-button {
    padding: 14px 67px;
}

.menu-image {
    position: relative;
}

.price-img {
    position: absolute;
    top: 120px;
    right: 40px;
}

.menu-price {
    display: flex;
    border: 7px solid white;
    border-radius: 50%;
    background-color: #D67E34;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Cookie', serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 120px;
    right: 40px;
}

.comment {
    background-color: #E5E5E5;
    padding: 104px 0px;
    text-align: center;
}

.comment-text {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.comment-image {
    margin-bottom: 16px;
}

.comment-type {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 9px;
}

.comment-name {
    font-size: 20px;
    margin-bottom: 26px;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider-item {
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.slider-inactive {
    background-color: #C4C4C4;
}

.slider-active {
    border: 2px solid #FF7400;
}

.slider-item:not(:last-child) {
    margin-right: 2px;
}

.galery {
    padding: 100px 0px;
    text-align: center;
}

.galery-title {
    font-family: 'Tinos', serif;
    margin-bottom: 60px;
}

.galery-title-text {
    font-size: 54px;
    font-weight: 400;
}

.galery-content {
    display: flex;
    justify-content: center;
}

.galery-content-left {
    margin-right: 30px;
}

.galery-content-up {
    margin-bottom: 30px;
}

.galery-content-up,
.galery-content-down {
    display: flex;
    justify-content: space-between;
}

.cook {
    padding-bottom: 100px;
    text-align: center;
    padding-bottom: 44px;
}

.cook-title {
    margin-bottom: 107px;
}

.cook-title-text {
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 54px;
}

.cook-content-img:not(:last-child) {
    margin-right: 30px;
}

.cook-content {
    margin-bottom: 50px;
}

.footer {
    height: 732px;
    background-image: url(../IMG/footer-bg.jpg);
}

.disp {
    display: none;
}

@media(max-width: 1500px) {
    .galery-content {
        display: block;
    }

    .galery-content-img,
    .galery-content-down,
    .galery-content-up {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .galery-content-img {
        margin-bottom: 20px;
        max-width: 250px;
    }

    .galery-content-left {
        margin-right: 0px;
    }
}

@media(max-width: 1300px) {

    .menu-items {
        display: block;
    }

    .menu-item {
        width: 600px;
        margin: 20px auto !important;
    }

    .menu-price {
        right: 180px;
    }

    .header-down {
        margin-left: auto;
        margin-right: auto;
    }

    .header-subtittle {
        margin-bottom: 60px;
    }

    .header-subtittle::after,
    .header-subtittle::before {
        content: none;
    }

    .cook-content {
        display: block;
    }

    .cook-content-img {
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }

    .black {
        text-align: center;
    }

    .black-holder {
        display: block;
    }

    .black-left {
        margin-bottom: 50px;
    }

    .history-images {
        display: none;
    }

    .history-holder {
        justify-content: center;
    }

    .history-title,
    .history-desc,
    .history-food {
        width: auto;
    }


    .block {
        display: block;
    }

    .burger-slide {
        position: absolute;
    }

    .burger-slide .nav-item {
        text-align: center;
        margin: 10px -15px !important;
    }
}

@media(max-width: 1185px) {
    #burger-menu-button {
        display: block;
        background: none;
        border: none;
    }

    .nav,
    .cart,
    .phone,
    .btn {
        display: none;
    }

    .header-line {
        justify-content: space-between;
    }

    .burgers-picture {
        display: none;
    }
}

@media(max-width: 1220px) {
    .cards-holder {
        display: block;
    }

    .card {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
    }

}


@media(max-width: 780px) {
    .history-holder {
        display: block;
    }

    .menu-item {
        width: auto;
    }

    .container {
        margin: auto 40px;
    }

    .black-title {
        font-size: 40px;
    }
}